body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 100vh;
}

.grid-container {
    display: grid;
    width: 900px;
    height: 900px;
    border: 5px dashed cyan;
    grid-template: repeat(4, 25%) / repeat(4, 25%);
}

.grid-item {
    border: 1px solid black;
}

.button {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: black;
    background-color: #eee;
    width: 200px;
    height: 75px;
    border-radius: 10px;
}

#color {
    height: 50px;
    width: 50px;
    margin-left: 40px;
    margin-right: 5px;
}

label {
    font-size: 32px;
    font-weight: 500;
}

.input-container {
    display: flex;
    align-items: center;
}